@charset "UTF-8";
/*VARIABLES*/
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

header {
  z-index: 100; }
  header .menu {
    background-color: black !important;
    color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ffe787;
    /*colocar borde inferior al menu*/
    position: fixed;
    z-index: 10; }
  header .menuLogo {
    font-size: 35px;
    margin-left: 20px;
    text-decoration: none;
    color: white; }
  header .listas {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    /*elimina los puntos o subrayados de los items*/
    text-decoration: none;
    color: white;
    padding-left: 50%;
    align-items: center; }
  header .listasMenuLinks {
    list-style: none;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 5px; }
  header .listasMenuEntrenar {
    font-size: 20px; }
  header .listasMenuEntrenamientos {
    /*SUBMENU*/
    position: absolute;
    list-style: none;
    background-color: #63624ebb;
    text-align: left;
    padding: 10px;
    display: none; }
  header .listasMenuEntrenar:hover .listasMenuEntrenamientos {
    /*se utiliza para que aparezca el menu al colocar el mouse encima*/
    display: block;
    color: #ffe787; }
  header .listasMenuLinks:hover {
    color: #ffe787; }
  header .banner__entrenamiento {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/entrenamiento-pesas.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px; }
    header .banner__entrenamiento .banner__title {
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      color: #ffe787;
      margin-bottom: 100px;
      font-size: 150px;
      animation-duration: 8s;
      animation-name: aparecer;
      animation-iteration-count: initial; }
  header .banner__nutricion {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/nutricion-fideos.webp);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px; }
    header .banner__nutricion .banner__title {
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      color: white;
      margin-bottom: 100px;
      font-size: 150px;
      animation-duration: 8s;
      animation-name: aparecer;
      animation-iteration-count: initial; }
  header .banner__contacto {
    display: flex;
    justify-content: space-around;
    background: black;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin-bottom: 150px; }
    header .banner__contacto .banner__title {
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      color: white;
      margin-bottom: 100px;
      font-size: 150px;
      animation-duration: 8s;
      animation-name: aparecer;
      animation-iteration-count: initial; }
  header .bannerSalud {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/saludfondo.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px; }
    header .bannerSalud .banner__title {
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      align-items: center;
      color: #ffe787;
      margin-bottom: 100px;
      font-size: 100px;
      animation-duration: 8s;
      animation-name: aparecer;
      animation-iteration-count: initial;
      padding: 100px; }
  header .rutinasTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 70px;
    font-family: 'Urbanist', sans-serif; }

body header .banner {
  background-image: url(../img/hombre-fitness.jpg);
  background-size: cover;
  width: 100%;
  height: 150vh;
  padding: 70px;
  margin-bottom: 100px; }

body header .banner__info--title {
  font: "Urbanist", sans-serif;
  font-size: 140px;
  margin-top: 90px;
  margin-bottom: 20px; }

body header .banner__info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  /*colocar texto por encima de la imagen*/
  color: white;
  margin-bottom: 150px;
  margin-top: 150px; }

body header .banner__info--contenido {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body header .banner__info--contenido .banner__info--text {
    width: 900px;
    font-size: 50px;
    padding-right: 210px;
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count: initial; }
  body header .banner__info--contenido .banner__scroll--img {
    margin-right: 300px;
    width: 60px; }

body main .train {
  background-attachment: fixed; }

body main .train__dieta, body main .train__entrenar, body main .train__salud {
  box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
  /*sensacion de profundidad*/
  border-radius: 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  max-width: 1024px; }

body main .train__dieta:hover, body main .train__entrenar:hover, body main .train__salud:hover {
  transform: scale(1.1, 1.1);
  transition: all 1.5s ease; }

body main .train__salud {
  margin-bottom: 50px; }

body main .video__index {
  border-radius: 5%;
  width: 200px; }

body main .train__dieta--info, body main .train__entrenar--info, body main .train__salud--info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  color: black; }

body main .imagen__index {
  width: 200px;
  height: 33vh;
  border-radius: 5%; }

body main .img__motivacion {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 35rem;
  border-radius: 5%; }

body main .index__down {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  box-shadow: 5px 5px 20px 5px rgba(55, 53, 77, 0.582);
  background-color: #000000;
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 2%; }

body main .index__down--info {
  color: #ffe787;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px; }

body main .banner__info--title {
  font: "Urbanist", sans-serif;
  font-size: 50px; }

body main .index__down--info p {
  font-size: 50px;
  color: #ffe787; }

body main .title, body main .nutricion__contenido .nutricion__mantenimiento .title, body main .nutricion__contenido .nutricion__deficit .title, body main .saludContenido .saludBeneficios .title {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  font: "Urbanist", sans-serif;
  margin-left: 10px;
  margin-bottom: 15px; }

@keyframes aparecer {
  /*Animación para que aparezco el texto*/
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body .footer {
  background-color: #868686;
  height: 100px;
  color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  body .footer .footerTitle {
    display: flex;
    align-items: center;
    text-decoration: none;
    font: "Urbanist", sans-serif;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 30px; }
  body .footer .footerContactoList, body .footer .footerContacto {
    list-style: none;
    text-align: left;
    text-decoration: none; }
  body .footer .footerContacto {
    color: black; }
  body .footer .footerRedesImg {
    width: 25px; }
  body .footer .footerRedesLinks {
    text-decoration: none; }

@media only screen and (max-width: 415px) {
  body header .menu {
    /*SECCION MENU*/
    max-width: 412px; }
    body header .menu .container-fluid .collapse .navbar-nav .nav-item .listasMenuLinks {
      color: #c0b300; }
  body header .banner {
    width: 420px; }
  body header .banner__info {
    margin-top: 100px; }
    body header .banner__info .banner__info--title {
      font-size: 100px; }
    body header .banner__info .banner__info--contenido .banner__info--text {
      font-size: 30px;
      width: 500px; }
    body header .banner__info .banner__info--contenido .banner__scroll--img {
      width: 40px; }
  body header .banner__entrenamiento .banner__title, body header .banner__nutricion .banner__title, body header .bannerSalud .banner__title, body header .banner__contacto .banner__title {
    font-size: 50px; }
  body header .rutinasTitle {
    font-size: 50px;
    display: flex;
    align-items: flex-end; }
  body header .error {
    font-size: 50px; }
  body main .train {
    /*SECCION INDEX*/
    margin: 0 auto;
    width: 300px; }
    body main .train .train__dieta, body main .train .train__entrenar, body main .train .train__salud {
      display: flex;
      flex-direction: column; }
      body main .train .train__dieta .imagen__index, body main .train .train__entrenar .imagen__index, body main .train .train__salud .imagen__index {
        height: 250px;
        margin-bottom: 25px; }
  body main .video__index {
    width: 200px; }
  body main .index__down {
    width: 350px;
    max-width: 834px;
    display: flex;
    flex-direction: column; }
    body main .index__down .img__motivacion {
      width: 350px; }
    body main .index__down .index__down--info {
      font-size: 2rem;
      display: flex;
      justify-content: center; }
  body main .entrenamientos {
    /*SECCION ENTRENAMIENTOS*/
    margin: 0 auto;
    width: 300px; }
    body main .entrenamientos .entrenamientos__card .entrenamientos__card--info {
      display: flex;
      flex-direction: column; }
  body main .title__inspiracion {
    font-size: 10px; }
  body .nutricion .nutricion__contenido {
    /*SECCION NUTRICION*/
    margin: 0 auto;
    width: 300px; }
    body .nutricion .nutricion__contenido .nutricion__superavit .nutricion__card {
      display: flex;
      flex-direction: column; }
      body .nutricion .nutricion__contenido .nutricion__superavit .nutricion__card .img__nutricion {
        height: 250px;
        margin-bottom: 25px; }
    body .nutricion .nutricion__contenido .nutricion__mantenimiento .nutricion__card {
      display: flex;
      flex-direction: column; }
      body .nutricion .nutricion__contenido .nutricion__mantenimiento .nutricion__card .img__nutricion {
        height: 250px;
        margin-bottom: 25px; }
    body .nutricion .nutricion__contenido .nutricion__deficit .nutricion__card {
      display: flex;
      flex-direction: column; }
      body .nutricion .nutricion__contenido .nutricion__deficit .nutricion__card .img__nutricion {
        height: 250px;
        margin-bottom: 25px; }
  body .nutricion__frase .nutricion__frase--contenido {
    width: 100%; }
    body .nutricion__frase .nutricion__frase--contenido .nutricion__frase--info .nutricion__frase--title {
      margin: 0 auto;
      display: flex;
      margin-left: 80px;
      padding: 0;
      margin-right: 60px;
      font-size: 3rem; }
  body .salud .saludContenido .saludEjercicio {
    margin: 0 auto;
    width: 300px;
    /*SECCION SALUD*/ }
    body .salud .saludContenido .saludEjercicio .saludCard {
      display: flex;
      flex-direction: column; }
      body .salud .saludContenido .saludEjercicio .saludCard .imgSalud {
        height: 250px;
        margin-bottom: 25px; }
  body .salud .saludContenido .saludBeneficios {
    margin-bottom: 5px;
    margin: 0 auto;
    width: 300px; }
    body .salud .saludContenido .saludBeneficios .saludCard {
      display: flex;
      flex-direction: column; }
      body .salud .saludContenido .saludBeneficios .saludCard .imgSalud {
        height: 250px;
        margin-bottom: 25px; }
  body .salud .saludInspiracion .saludInspiracionContendio {
    font-size: 2rem; }
  body .rutinas {
    /*SECCION RUTINAS*/ }
    body .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp {
      display: flex;
      flex-direction: column;
      width: 300px; }
      body .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp div .rutinasTablasProgramas {
        font-size: 6px;
        align-items: center; }
    body .rutinas .rutinasVideo {
      margin: 0 auto;
      width: 300px; }
      body .rutinas .rutinasVideo .rutinasVideoContenido {
        width: 250px; }
  body .form {
    /*SECCION CONTACTO*/
    width: 90%; }
    body .form .label__consulta {
      height: 15vh;
      width: 200px; }
  body .error404 {
    /*SECCION ERROR404*/
    font-size: 20px; }
  body .error404__info {
    margin: 0 auto;
    width: 300px; }
  body .footer {
    /*FOOTER*/
    width: 415px;
    height: 100px;
    align-items: center; }
    body .footer .footerTitle {
      display: none; }
    body .footer .footerRedes {
      margin-left: 100px; } }

@media screen and (max-width: 800px) and (min-width: 415px) {
  header .menu {
    /*SECCION MENU*/
    max-width: 768px; }
    header .menu .container-fluid .collapse .navbar-nav .nav-item .listasMenuLinks {
      color: #c0b300 !important; }
  header .banner__entrenamiento .banner__title, header .banner__nutricion .banner__title, header .bannerSalud .banner__title, header .banner__contacto .banner__title {
    font-size: 50px; }
  main .train {
    /*SECCION INDEX*/ }
    main .train .train__dieta .imagen__index, main .train .train__entrenar .imagen__index, main .train .train__salud .imagen__index {
      height: 25vh; }
  main .nutricion__frase .nutricion__frase--contenido {
    width: 100%; }
    main .nutricion__frase .nutricion__frase--contenido .nutricion__frase--info .nutricion__frase--title {
      margin: 0 auto;
      display: flex;
      margin-left: 80px;
      padding: 0;
      margin-right: 60px;
      font-size: 3rem; }
  .rutinas {
    /*SECCION RUTINAS*/ }
    .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp {
      display: flex;
      flex-direction: column;
      width: 600px; }
      .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp div .rutinasTablasProgramas {
        font-size: 15px;
        align-items: center; }
    .rutinas .rutinasVideo .rutinasVideoContenido {
      width: 550px; }
  .form {
    /*SECCION CONTACTO*/
    width: 90%;
    height: 80%; }
    .form .label__consulta {
      width: 200px; } }

@media screen and (max-width: 1024px) and (min-width: 801px) {
  body header .banner__entrenamiento .banner__title, body header .banner__nutricion .banner__title, body header .bannerSalud .banner__title, body header .banner__contacto .banner__title {
    font-size: 50px; }
  body main .train {
    /*SECCION INDEX*/ }
    body main .train .train__dieta .imagen__index, body main .train .train__entrenar .imagen__index, body main .train .train__salud .imagen__index {
      height: 20vh; }
  body main .nutricion__frase .nutricion__frase--contenido {
    width: 100%; }
    body main .nutricion__frase .nutricion__frase--contenido .nutricion__frase--info .nutricion__frase--title {
      margin: 0 auto;
      display: flex;
      margin-left: 80px;
      padding: 0;
      margin-right: 60px;
      font-size: 3rem; }
  body main .rutinas {
    /*SECCION RUTINAS*/ }
    body main .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp {
      display: flex;
      flex-direction: column;
      width: 300px; }
      body main .rutinas section.wow.rutinasTablas.animate__.animate__zoomInUp div .rutinasTablasProgramas {
        font-size: 6px;
        align-items: center; }
    body main .rutinas .rutinasVideo {
      margin: 0 auto;
      width: 300px; }
      body main .rutinas .rutinasVideo .rutinasVideoContenido {
        width: 250px; }
  body .footer {
    height: 100px;
    align-items: center; }
    body .footer .footerTitle {
      display: none; }
    body .footer .footerRedes {
      margin-left: 100px; } }

body main .entrenamientos {
  margin-bottom: 150px; }

body main .entrenamientos__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 10px; }
  body main .entrenamientos__card .entrenamientos__card--info {
    box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
    /*sensacion de profundidad*/
    border-radius: 2%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 25px;
    max-width: 1024px; }
    body main .entrenamientos__card .entrenamientos__card--info .img__entrenamientos {
      width: 200px;
      border-radius: 5%; }
    body main .entrenamientos__card .entrenamientos__card--info .title {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      margin-left: 10px;
      margin-bottom: 15px; }
    body main .entrenamientos__card .entrenamientos__card--info .entrenamientos__contenido {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px;
      font-size: 20px; }

body main .title__inspiracion {
  display: flex;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  font-size: 6rem;
  margin-bottom: 35px; }

body main .entrenamientos__card:hover {
  transform: scale(1.1, 1.1);
  /*expandir elemento*/
  transition: all 1.5s ease;
  /*velocidad a la que cambia el elemento*/ }

body main .nutricion__contenido {
  display: grid;
  grid-template-rows: 3 fr 3 fr 1 fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "nutricionSuperavit nutricionSuperavit nutricionSuperavit" "nutricionMantenimiento nutricionMantenimiento nutricionMantenimiento" "nutricionDeficit nutricionDeficit nutricionDeficit"; }
  body main .nutricion__contenido .nutricion__superavit {
    grid-area: nutricionSuperavit;
    text-decoration: none; }
    body main .nutricion__contenido .nutricion__superavit .nutricion__card {
      box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
      /*sensacion de profundidad*/
      border-radius: 2%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      max-width: 1024px;
      color: black; }
    body main .nutricion__contenido .nutricion__superavit .img__nutricion {
      width: 200px;
      border-radius: 5%; }
    body main .nutricion__contenido .nutricion__superavit .title {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      margin-left: 10px;
      margin-bottom: 15px; }
    body main .nutricion__contenido .nutricion__superavit .nutricion__superavit--info {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px; }
  body main .nutricion__contenido .nutricion__mantenimiento {
    grid-area: nutricionMantenimiento;
    text-decoration: none; }
    body main .nutricion__contenido .nutricion__mantenimiento .nutricion__card {
      box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
      /*sensacion de profundidad*/
      border-radius: 2%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      max-width: 1024px;
      color: black; }
    body main .nutricion__contenido .nutricion__mantenimiento .nutricion__mantenimiento--info {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px; }
    body main .nutricion__contenido .nutricion__mantenimiento .img__nutricion {
      width: 200px;
      border-radius: 5%; }
  body main .nutricion__contenido .nutricion__deficit {
    grid-area: nutricionDeficit;
    text-decoration: none;
    margin-bottom: 150px; }
    body main .nutricion__contenido .nutricion__deficit .nutricion__card {
      box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
      /*sensacion de profundidad*/
      border-radius: 2%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      max-width: 1024px;
      color: black; }
    body main .nutricion__contenido .nutricion__deficit .nutricion__deficit--info {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px; }
    body main .nutricion__contenido .nutricion__deficit .img__nutricion {
      width: 200px;
      border-radius: 5%; }
  body main .nutricion__contenido .nutricion__card:hover {
    transform: scale(1.1, 1.1);
    /*expandir elemento*/
    transition: all 1.5s ease; }

body main .nutricion__frase .nutricion__frase--contenido {
  background-image: url(../img/fobia-alimenticia.jpg);
  background-position: left;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  height: 100vh; }
  body main .nutricion__frase .nutricion__frase--contenido .nutricion__frase--title {
    font-size: 70px;
    margin: 0 auto;
    padding: 45px;
    margin-left: 800px;
    margin-top: 200px;
    font-weight: bold; }

body .rutinas .rutinasTablas {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 50px;
  box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
  margin-bottom: 150px; }
  body .rutinas .rutinasTablas .rutinasTablasTitle {
    font-size: 25px;
    font-family: "Urbanist", sans-serif; }
  body .rutinas .rutinasTablas .rutinasTablasProgramas {
    border: solid black;
    margin-top: 50px;
    background-color: #171612;
    color: white;
    margin: 25px; }
    body .rutinas .rutinasTablas .rutinasTablasProgramas th, body .rutinas .rutinasTablas .rutinasTablasProgramas td {
      border: solid black;
      padding: 10px; }
    body .rutinas .rutinasTablas .rutinasTablasProgramas .rutinasTablasEjercicios {
      color: #ffe787; }

body main .rutinasVideo {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
  box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
  margin-bottom: 40px;
  color: white; }
  body main .rutinasVideo .rutinasVideoTitle {
    font-size: 25px;
    font-family: "Urbanist", sans-serif;
    color: black; }
  body main .rutinasVideo .rutinasVideoContenido {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 80px; }

body main .saludContenido {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "saludEjercicio saludEjercicio saludEjercicio" "saludBeneficios saludBeneficios saludBeneficios"; }
  body main .saludContenido .saludEjercicio {
    grid-area: saludEjercicio;
    text-decoration: none;
    margin: 0 auto; }
    body main .saludContenido .saludEjercicio .saludCard {
      box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
      /*sensacion de profundidad*/
      border-radius: 2%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      max-width: 1024px;
      color: black; }
    body main .saludContenido .saludEjercicio .imgSalud {
      width: 200px;
      border-radius: 5%; }
    body main .saludContenido .saludEjercicio .title {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      font-family: "Urbanist", sans-serif;
      margin-left: 10px;
      margin-bottom: 15px; }
    body main .saludContenido .saludEjercicio .saludEjercicioInfo {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px; }
  body main .saludContenido .saludBeneficios {
    grid-area: saludBeneficios;
    text-decoration: none;
    margin: 0 auto; }
    body main .saludContenido .saludBeneficios .saludCard {
      box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.1);
      /*sensacion de profundidad*/
      border-radius: 2%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      max-width: 1024px;
      color: black; }
    body main .saludContenido .saludBeneficios .imgSalud {
      width: 200px;
      border-radius: 5%; }
    body main .saludContenido .saludBeneficios .saludBeneficiosInfo {
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 30px; }
  body main .saludContenido .saludEjercicio:hover, body main .saludContenido .saludBeneficios:hover {
    transform: scale(1.1, 1.1);
    /*expandir elemento*/
    transition: all 1.5s ease; }

body main .saludInspiracionContendio {
  font-size: 100px;
  margin: 0 auto;
  display: flex;
  text-align: center; }

body .contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  justify-content: space-around; }
  body .contact .form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    height: 119vh;
    padding: 5rem;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 20px 5px rgba(69, 67, 96, 0.308);
    margin-bottom: 40px;
    border-radius: 5%; }
    body .contact .form .input {
      display: flex;
      flex-direction: column; }

* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

header .error {
  font-size: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 25px; }

main .error404 {
  display: flex;
  justify-content: space-around; }

main .error404__info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Arnold__Schwarzenegger.png);
  background-repeat: no-repeat; }
  main .error404__info p {
    font-size: 50px;
    margin-top: 150px; }
  main .error404__info a {
    font-size: 30px;
    text-decoration: none;
    color: black; }
  main .error404__info h3 {
    font-size: 70px;
    margin-top: 200px; }
