body{
    header{
        .banner{
            background-image:url(../img/hombre-fitness.jpg);
            background-size: cover;
            width: 100%;
            height: 150vh;
            padding: 70px;
            margin-bottom: 100px;
        }
        .banner__info--title{
            font: $title-font;
            font-size: ($font-size)+40;
            margin-top: 90px;
            margin-bottom: 20px;
        }
        .banner__info{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            position:absolute;       /*colocar texto por encima de la imagen*/
            color: white;
            margin-bottom: 150px;
            margin-top: 150px;
        }
        .banner__info--contenido{
            display: flex;
            flex-direction: column;
            align-items: center;
            .banner__info--text{
                width: 900px;
                font-size: ($font-size/2);
                padding-right: 210px;
                animation-duration: 10s;
                animation-name: aparecer;
                animation-iteration-count:initial;
            }
            .banner__scroll--img{
                margin-right: 300px;
                width: 60px;
            }
        }
    }
}