@mixin cards ($area){
    grid-area: $area;
    text-decoration: none;
    .nutricionCard{
        box-shadow: $box-shadowsombra;       /*sensacion de profundidad*/
        border-radius: 2%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        max-width: 1024px;
        color: black;
    }
}
@mixin infocard {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}
body{
    main{
        .nutricion__contenido{
            display: grid;
            grid-template-rows: 3 fr 3 fr 1 fr;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "nutricionSuperavit nutricionSuperavit nutricionSuperavit"
            "nutricionMantenimiento nutricionMantenimiento nutricionMantenimiento"
            "nutricionDeficit nutricionDeficit nutricionDeficit";
            .nutricionSuperavit{
                @include cards (nutricionSuperavit);
                .imgNutricion{
                    width: 200px;
                    border-radius: 5%;
                }
                .title{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    justify-content: center;
                    font-family: $title-font;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .nutricionSuperavitInfo{
                    @include infocard();
                }
            }
            .nutricionMantenimiento{
                @include cards (nutricionMantenimiento);
                .title{
                    @extend .title;
                }
                .nutricionMantenimientoInfo{
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    margin: 30px;
                    }
                .imgNutricion{
                    width: 200px;
                    border-radius: 5%;
                }
            }
            .nutricionDeficit{
                @include cards (nutricionDeficit);
                margin-bottom: 150px;
                .title{
                    @extend .title;
                }
                .nutricionDeficitInfo{
                    @include infocard();
                }
                .imgNutricion{
                    width: 200px;
                    border-radius: 5%;
                }
            }
            .nutricionCard:hover{
                transform: scale(1.1, 1.1);          /*expandir elemento*/
                transition: all 1.5s ease;
            }
        }
        .nutricionFrase{
            .nutricionFraseContenido{
                background-image: url(../img/fobia-alimenticia.jpg);
                background-position: left;
                background-size: cover;
                margin: 0 auto;
                display: flex;
                height: 100vh;
                .nutricionFraseTitle{
                    font-size:($font-size)-30;
                    margin: 0 auto;
                    padding: 45px;
                    margin-left: 800px;
                    margin-top: 200px;
                    font-weight: bold;
                }
            }
        }
    }
}

