body{
    main{
        .entrenamientos{
            margin-bottom: 150px;
        }
        .entrenamientos__card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            text-decoration: none;
            color: black;
            margin-left: 30px;
            margin-right: 10px;
            .entrenamientos__card--info{
                box-shadow:  $box-shadowsombra;       /*sensacion de profundidad*/
                border-radius: 2%;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                margin-bottom: 25px;
                max-width: 1024px;
                .img__entrenamientos{
                    width: 200px;
                    border-radius: 5%;
                }
                .title{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    justify-content: center;
                    font-family: $title-font;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .entrenamientos__contenido{
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    margin: 30px;
                    font-size: ($font-size/5);
                }
            }
        }
        .title__inspiracion{
            display: flex;
            justify-content: center;
            font-family: $title-font;
            font-size: 6rem;
            margin-bottom: 35px;
        }
        .entrenamientos__card:hover{
            transform: scale(1.1, 1.1);          /*expandir elemento*/
            transition: all 1.5s ease;      /*velocidad a la que cambia el elemento*/
        }
    }

}