@mixin cards ($area){
    grid-area: $area;
    text-decoration: none;
    margin: 0 auto;
    .saludCard{
        box-shadow: $box-shadowsombra;       /*sensacion de profundidad*/
        border-radius: 2%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        max-width: 1024px;
        color: black;
    }
}
@mixin info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}
$imagen:200px;
body{
    main{
        .saludContenido{
            display: grid;
            grid-template-rows: 1fr 1fr 0.5fr;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "saludEjercicio saludEjercicio saludEjercicio"
            "saludBeneficios saludBeneficios saludBeneficios";
            .saludEjercicio{
                @include cards (saludEjercicio);
                .imgSalud{
                    width: $imagen;
                    border-radius: 5%;
                }
                .title{
                    text-decoration: none;
                    color: black;
                    display: flex;
                    justify-content: center;
                    font-family: $title-font;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .saludEjercicioInfo{
                    @include info();
                }
            }
            .saludBeneficios{ 
                @include cards(saludBeneficios);
                .imgSalud{
                    width: $imagen;
                    border-radius: 5%
                }
                .title{
                    @extend .title;
                }
                .saludBeneficiosInfo{
                    @include info();
                }   
            }
            .saludEjercicio:hover, .saludBeneficios:hover{
                transform: scale(1.1, 1.1);          /*expandir elemento*/
                transition: all 1.5s ease;
            }
        }
        .saludInspiracionContendio{
            font-size: $font-size;
            margin: 0 auto;
            display: flex;
            text-align: center;
        }
        
    }
}
