@mixin cards {
    margin: 0 auto;
    width: 300px;
}
@mixin flex {
    display: flex;
    flex-direction: column;
}
@mixin title {
    .banner__title{
        font-size: ($font-size)-50;
    }
}
@mixin image {
    height: 250px;
    margin-bottom: 25px;
}
//RESPONISVE//
@media only screen and (max-width: 415px){
    body{
        header{                                        
            .menu{                                               /*SECCION MENU*/
                width: 420px;
            }
            .banner{
                width: 420px;
            }
            .banner__info{
                margin-top: 100px;
                .banner__info--title{
                    font-size: $font-size;
                }
                .banner__info--contenido{
                    .banner__info--text{
                        font-size: ($font-size)-70;
                        width: 500px;
                    }
                    .banner__scroll--img{
                        width: 40px;
                    }
                }
            }
            .banner__entrenamiento,.bannerNutricion, .bannerSalud{
                @include title();
            }
        }
        main{ 
            .train{                                         /*SECCION INDEX*/
                @include cards();
                .train__dieta, .train__entrenar, .train__salud{
                    @include flex();
                    .imagen__index{
                        @include image();
                    }
                }
            }
            .video__index{
                width: 200px;
            }
            
            .index__down{
                width: 350px;
                max-width: 834px;
                @include flex();
                .img__motivacion{
                    width: 350px;
                }
                .index__down--info{
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                }
            }
            .entrenamientos{                                   /*SECCION ENTRENAMIENTOS*/
                @include cards();
                .entrenamientos__card{
                    .entrenamientos__card--info{
                        @include flex();
                    }
                }
            }
            .title__inspiracion{
            font-size: 10px;
            }
        }
        .nutricion{
            .nutricion__contenido{                               /*SECCION NUTRICION*/
                @include cards();
                .nutricionSuperavit{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
                .nutricionMantenimiento{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
                .nutricionDeficit{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
            } 
        }
        .nutricionFrase{
            .nutricionFraseContenido{
                width: 100%;
                .nutricionFraseInfo{
                    .nutricionFraseTitle{
                        margin: 0 auto;
                        display: flex;
                        margin-left: 0;
                        padding: 0;
                        font-size: 4rem;
                    }
                }
            }
        }
        main{
            .salud{                                                    
                .saludEjercicio{ 
                    @include cards();                                     /*SECCION SALUD*/
                    .saludCard{
                        @include flex();
                        .imgSalud{
                            @include image();
                        }
                    }
                }
            }
        }
        .footer{
            width: 415px;
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}
@media screen and (max-width: 1024px){
    body{
        header{
            .listas{
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                list-style: none;                      /*elimina los puntos o subrayados de los items*/
                text-decoration: none;
                color: white;
                align-items: center;
                text-align: center;
                margin-right: 200px;
            }
        }
        main{
            .trainDieta, .trainEntrenar, .trainSalud{
                box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
                border-radius: 2%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 700px;
                margin-bottom: 20px;
            }
            .trainDietaInfo, .trainEntrenarInfo, .trainSaludInfo{
                margin-top: 15px;
                font-size: ($font-size/5);
            }
            
            
        }
        .footer{
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}