//RESPONISVE//
@media only screen and (max-width: 834px) and (min-width: 415px){
    body{
        header{
            .menu{
                width: 500px;
                max-width: 834px;
            }
            .banner{
                width: 500px;
                max-width: 834px;
            }
            .banner__info{
                margin-top: 50px;
                .banner__info--title{
                    font-size: $font-size;
                }
                .banner__info--contenido{
                    .banner__info--text{
                        font-size: ($font-size)-70;
                        width: 500px;
                    }
                    .banner__scroll--img{
                        width: 40px;
                    }
                }
            }
        }
        main{ 
            .train{
                width: 500px;
                .train__dieta, .train__entrenar, .train__salud{
                    display: flex;
                    flex-direction: column;
                    .imagen__index{
                        height: 250px;
                        margin-bottom: 25px;
                    }
                }
            }
            .video__index{
                width: 200px;
            }
            
            .index__down{
                width: 500px;
                max-width: 834px;
                display: flex;
                flex-direction: column;
                .img__motivacion{
                    width: 500px;
                }
                .index__down--info{
                    width: 450px;
                    display: flex;
                    justify-content: center;
                }
            }
            
            .entrenamientosTitle{
                display: flex;
                text-align: center;
                font-size: ($font-size/2)-10;
            }
            .bannerEntrenamiento{
                max-width: 600px;
                margin: 0 auto;
                display: flex;
                justify-content:space-around;
                
                width: 100%;  
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                margin-bottom: 150px;
            }
            .entrenamientos{
                max-width: 420px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .entrenamientosFuerza, .entrenamientosHipertrofia, .entrenamientosResistencia{
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: 400px;
                margin-bottom: 20px;
                }
            .entrenamientosResistencia{
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: 400px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .entrenamientosContenido{
                display: flex;
                flex-direction: column;
                padding: 30px;
                margin: 30px;
                font-size: 15px;
            }
            .titleInspiracion{
                font-size: 2rem;
            }
        }
        .footer{
            width: 500px;
            max-width: 834px;
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}
@media screen and (max-width: 1024px) and (min-width: 834px){
    body{
        header{
            .listas{
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                list-style: none;                      /*elimina los puntos o subrayados de los items*/
                text-decoration: none;
                color: white;
                align-items: center;
                text-align: center;
                margin-right: 200px;
            }
        }
        main{
            .trainDieta, .trainEntrenar, .trainSalud{
                box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
                border-radius: 2%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 700px;
                margin-bottom: 20px;
            }
            .trainDietaInfo, .trainEntrenarInfo, .trainSaludInfo{
                margin-top: 15px;
                font-size: ($font-size/5);
            }
            .indexDown{
                display: flex;
                flex-direction: column;
                width: 750px;
            }
            .indexDownInfo{
                font-size: ($font-size/5)+10;
            }
        }
        .footer{
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}