@mixin cards {
    margin: 0 auto;
    width: 300px;
}
@mixin flex {
    display: flex;
    flex-direction: column;
}
@mixin title {
    .banner__title{
        font-size: ($font-size)-50;
    }
}
@mixin image {
    height: 250px;
    margin-bottom: 25px;
}
//RESPONISVE//
@media only screen and (max-width: 415px){
    body{
        header{                                        
            .menu{                                               /*SECCION MENU*/
                width: 420px;
            }
            .banner{
                width: 420px;
            }
            .banner__info{
                margin-top: 100px;
                .banner__info--title{
                    font-size: $font-size;
                }
                .banner__info--contenido{
                    .banner__info--text{
                        font-size: ($font-size)-70;
                        width: 500px;
                    }
                    .banner__scroll--img{
                        width: 40px;
                    }
                }
            }
            .banner__entrenamiento,.bannerNutricion, .bannerSalud, .bannerContacto{
                @include title();
            }
            .rutinasTitle{
                font-size: 50px;
                display: flex;
                align-items: flex-end;
            }
            
        }
        main{ 
            .train{                                         /*SECCION INDEX*/
                @include cards();
                .train__dieta, .train__entrenar, .train__salud{
                    @include flex();
                    .imagen__index{
                        @include image();
                    }
                }
            }
            .video__index{
                width: 200px;
            }
            
            .index__down{
                width: 350px;
                max-width: 834px;
                @include flex();
                .img__motivacion{
                    width: 350px;
                }
                .index__down--info{
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                }
            }
            .entrenamientos{                                   /*SECCION ENTRENAMIENTOS*/
                @include cards();
                .entrenamientos__card{
                    .entrenamientos__card--info{
                        @include flex();
                    }
                }
            }
            .title__inspiracion{
            font-size: 10px;
            }
        }
        .nutricion{
            .nutricion__contenido{                               /*SECCION NUTRICION*/
                @include cards();
                .nutricionSuperavit{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
                .nutricionMantenimiento{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
                .nutricionDeficit{
                    .nutricionCard{
                        @include flex();
                        .imgNutricion{
                            @include image();
                        }
                    }
                }
            } 
        }
        .nutricionFrase{
            .nutricionFraseContenido{
                width: 100%;
                .nutricionFraseInfo{
                    .nutricionFraseTitle{
                        margin: 0 auto;
                        display: flex;
                        margin-left:80px;
                        padding: 0;
                        margin-right: 60px;
                        font-size: 3rem;
                    }
                }
            }
        }
        .salud{
            .saludContenido{
                .saludEjercicio{ 
                    @include cards();                                     /*SECCION SALUD*/
                    .saludCard{
                        @include flex();
                            .imgSalud{
                                @include image();
                            }
                    }
                }
                .saludBeneficios{
                    margin-bottom: 5px;
                    @include cards();                                    /*SECCION SALUD*/
                    .saludCard{
                        @include flex();
                            .imgSalud{
                                @include image();
                            }
                    }
                }
            }
            .saludInspiracion{
                .saludInspiracionContendio{
                    font-size: 2rem;
                }
            }                                                   
        }
        .rutinas{
            section.wow.rutinasTablas.animate__.animate__zoomInUp{
                display: flex;
                flex-direction: column;
                width: 300px;
                div{
                    .rutinasTablasProgramas{
                        font-size: 7px;
                    }
                }
            }
        }
            .form{                                                      /*SECCION CONTANTO*/
                width: 90%;
                .label__consulta{
                    height: 15vh;
                }
            }
        .footer{
            width: 415px;
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}
@media screen and (max-width: 800px){
    header{
        .menu{
            max-width: 800px;
        }
        .banner__entrenamiento, .bannerNutricion, .bannerSalud, .bannerContacto{
            .banner__title{
                font-size: ($font-size)-20;
            }
        }
    }
}
@media screen and (max-width: 1024px){
    body{
        header{
            
        }
        .footer{
            height: 100px;
            align-items: center;
            .footerTitle{
                display: none;
            }
            .footerRedes{
                margin-left: 100px;
            }
        }
    }
}