*{
    box-sizing: border-box;     /*simplifcar las medidas de las cajas*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*MENU*/
.menu{
    background-color: rgb(0, 0, 0) !important;
    color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ffe787;   /*colocar borde inferior al menu*/
    position: fixed;
}
.menuLogo{
    font-size: 35px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.listas{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;                      /*elimina los puntos o subrayados de los items*/
    text-decoration: none;
    color: white;
    padding-left: 50%;
    align-items: center;
}
.listasMenuLinks{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 18px;
    margin-top: 5px;
}

.listasMenuLinks:hover{
    color: #FFE787;
}
.listasMenuEntrenar{
    font-size: 18px;
}

/*SUBMENU*/
.listasMenuEntrenamientos{
    position: absolute;
    list-style: none;
    background-color: #63624ebb;
    text-align: left;
    padding: 10px;
    display: none;
}
.listasMenuEntrenar:hover .listasMenuEntrenamientos{    /*se utiliza para que aparezca el menu al colocar el mouse encima*/
    display: block;
}
/*SECCIONES*/

.title{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
}

.imagenIndex, .img__entrenamientos, .imgSalud, .imgNutricion{
    border-radius: 5%;
}
/*SECCION ENTRENAMIENTOS*/
.entrenamientos{
    margin-bottom: 150px;
}
.entrenamientos__title{
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    align-items: center;
    color: #ffe787;
    margin-bottom: 100px;
    font-size: 150px;
    animation-duration: 8s;
    animation-name: aparecer;
    animation-iteration-count:initial;
    
}
.banner__entrenamiento{
    display: flex;
    justify-content:space-around;
    background-image:url(./img/entrenarfondo.jpg);
    width: 100%;
    height: 100vh;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 150px;
}
.entrenamientos__fuerza, .entrenamientos__hipertrofia, .entrenamientos__resistencia{
    box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
    border-radius: 2%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 25px;
    max-width: 1024px;
}
.entrenamientos__fuerza:hover, .entrenamientos__hipertrofia:hover, .entrenamientos__resistencia:hover{
    transform: scale(1.1, 1.1);          /*expandir elemento*/
    transition: all 1.5s ease;      /*velocidad a la que cambia el elemento*/
}
.img__entrenamientos{
    width: 200px;
}
.entrenamientos__hipertrofia--info, .entrenamientos__fuerza--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 10px;
}
.entrenamientos__contenido{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    font-size: 20px;
}
.entrenamientos__resistencia--info{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 10px;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    color: black;
}
.trainDown{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    background-color: #ffffff;
    margin-bottom: 150px;
}
.trainDownInfo{
    color: #000000;
    display: flex;
    text-align: center;
    font-size: 1000px;
    align-items: center;
}
.title__inspiracion{
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 6rem;
    margin-bottom: 35px;
}

/*SECCION SALUD*/
.salud{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "saludEjercicio saludEjercicio saludEjercicio"
    "saludBeneficios saludBeneficios saludBeneficios";
}
.saludEjercicio{
    grid-area: saludEjercicio;
    justify-self: center;
}
.saludBeneficios{
    grid-area: saludBeneficios;
    justify-self: center;
}
.saludBeneficios:hover, .saludEjercicio:hover{ 
    transform: scale(1.1, 1.1);          /*expandir elemento*/
    transition: all 1.5s ease;      /*velocidad a la que cambia el elemento*/
}
.saludTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 100px;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    align-items: center;
    color: #ffe787;
    animation-duration: 8s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}
.bannerSalud{
    display: flex;
    justify-content:space-around;
    background-image:url(./img/saludfondo.jpg);
    width: 100%;
    height: 100vh;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px;
}
.imgSalud{
    width: 200px;
}
.saludBeneficios, .saludEjercicio{
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
    border-radius: 2%;
}
.saludEjercicioInfo, .saludBeneficiosInfo{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}
/*SECCION CONTACTO*/
.contact{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    justify-content: space-around;
}
.contactTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 150px;
    font-family: 'Urbanist', sans-serif;
    align-items: center;
    color: rgb(255, 255, 255);
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}
.bannerContacto{
    display: flex;
    justify-content:space-around;
    background: black;
    width: 100%;
    height: 100vh;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 150px;
}
.form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: solid black;
    height: 119vh;
    padding: 5rem;
    font-weight: bold;
    font-size: 20px;
    box-shadow:  5px 5px 20px 5px rgba(69, 67, 96, 0.308);
    margin-bottom: 40px;
    border-radius: 5%;
}
/*SECCION RUTINAS*/
.rutinas{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rutinasTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 70px;
    font-family: 'Urbanist', sans-serif;
    
}
.rutinasTablasTitle, .rutinasVideoTitle{
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
}
.rutinasTablas{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 50px;
    box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);
    margin-bottom: 40px;
}
.rutinasVideo{
    text-align: center;
    margin-bottom: 35px;
    margin-right: 25px;
    margin-left: 25px;
    box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);
    margin-bottom: 40px;
    background-color: #252525;
    color: white;
}
/*TABLAS*/
.rutinasTablasProgramas{
    border: solid black;
    margin-top: 50px;
    background-color: #171612;
    color: white;
    margin: 25px;
}
th, td{
    border: solid black;
    padding: 10px;
}
.rutinasTablasEjercicios{
    color:#ffe787
}
/*FOOTER*/
.footer{
    background-color: #868686;
    height:100px;
    color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.footerTitle{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 30px;
}
.footerContactoList{
    list-style: none;
    text-align: left;
    text-decoration: none;
}
.footerContacto{
    text-align: center;
    text-decoration: none;
    color: black;
}
.footerRedesImg{
    width: 25px;
}
.footerRedesLinks{
    text-decoration: none;
}
/*LINKS/A*/
a:hover{
    color:black
}
/*ANIMACIONES*/
@keyframes aparecer {     /*Animación para que aparezco el texto*/
    0% {
        opacity: 0;
        }
    50% {
        opacity: 1;
        }
    100% {
    opacity: 0;
        }
}

/*RESPONSIVE*/
@media only screen and (max-width: 834px) and (min-width: 415px) {

    /*INDEX*/
    .banner{
        background-image:url(./img/foto2.png);
        height: 700px;
        background-size: cover;
    }
    .bannerInfo{
        margin: 0 auto;
        display: flex;
        position:absolute;       /*colocar texto por encima de la imagen*/
        color: white;
        margin-bottom: 150px;
        margin-top: 100px;
        font-size: 25px;
        margin-left: 50px;
        max-width: 300px;
    }
    .bannerInfoText{
        width: 200px;
    font-size: 20px;
    }
    .bannerScroll{
        margin: 0 auto;
        display: flex;
        flex-direction:row;
        position:absolute; 
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        color: white;
    }
    .trainDieta, .trainEntrenar, .trainSalud{
        box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
        border-radius: 2%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin-bottom: 20px;
        margin-right: 200px;
    }
    .trainDietaInfo, .trainEntrenarInfo, .trainSaludInfo{
        margin: 80px;
        font-size: 20px;
    }
    .videoIndex{
        width: 200px;
    }
    .indexDown{
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin-left: 0;
    }
    .imgMotivacion{
        width: 425px;
        display: flex;
        margin: 0 auto;
        margin-right: 200px;
    }
    .indexDownInfo{
        font-size: 15px;
        margin-right: 150px;
        display: flex;
        margin: 0 auto;
        margin-right: 35px;
    }
    /*SECCION ENTRENAMIENTOS*/
    .entrenamientosTitle{
        display: flex;
        text-align: center;
        font-size: 40px;
    }
    .bannerEntrenamiento{
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        background-image:url(./img/entrenarfondo.jpg);
        width: 100%;  
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-bottom: 150px;
        
    }
    .entrenamientos{
        max-width: 420px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entrenamientosFuerza, .entrenamientosHipertrofia, .entrenamientosResistencia{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin-bottom: 20px;
        
    }
    .entrenamientosResistencia{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 400px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .entrenamientosContenido{
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin: 30px;
        font-size: 15px;
    }
    .titleInspiracion{
        font-size: 2rem;
    }
    .footerTitle{
        display: none;
    }
    .footerRedes{
        margin-left: 100px;
    }
    footer{
        height: 100px;
        align-items: center;
    }
}
@media screen and (max-width: 1024px) and (min-width: 834px){

    .listas{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        list-style: none;                      /*elimina los puntos o subrayados de los items*/
        text-decoration: none;
        color: white;
        align-items: center;
        text-align: center;
        margin-right: 200px;
    }
    /*INDEX*/
    .trainDieta, .trainEntrenar, .trainSalud{
        box-shadow:  5px 5px 20px 5px rgba(69,67,96,0.1);       /*sensacion de profundidad*/
        border-radius: 2%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
        margin-bottom: 20px;
    }
    .trainDietaInfo, .trainEntrenarInfo, .trainSaludInfo{
        margin-top: 15px;
        font-size: 20px;
    }
    .indexDown{
        display: flex;
        flex-direction: column;
        width: 750px;
    }
    .indexDownInfo{
        font-size: 30px;
    }
    /*SECCION ENTRENAMIENTOS*/
    .entrenamientosTitle{
        display: flex;
        text-align: center;
        font-size: 40px;
    }
    .bannerEntrenamiento{
        max-width: 830px;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        background-image:url(./img/entrenarfondo.jpg);
        width: 100%;  
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-bottom: 150px;
        
    }
    .entrenamientos{
        max-width: 830px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entrenamientosFuerza, .entrenamientosHipertrofia, .entrenamientosResistencia{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 830px;
        margin-bottom: 20px;
        
    }
    .entrenamientosResistencia{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 830px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .entrenamientosContenido{
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin: 30px;
        font-size: 15px;
    }
    .titleInspiracion{
        font-size: 2rem;
    }
    .footerTitle{
        display: none;
    }
    .footerRedes{
        margin-left: 100px;
    }
    footer{
        height: 100px;
        align-items: center;
    }
}